  @import url('https://fonts.googleapis.com/css2?family=Big+Shoulders+Display:wght@700&family=Lexend+Deca&display=swap');

  * {
      margin: 0;
      padding: 0;
      box-sizing: border-box;
  }

  html {
      font-size: 15px;
  }

  img {
      max-width: 100%;
      height: auto;
  }

  body {
      font-family: 'Lexend Deca', sans-serif;
      background-color: hsl(0, 0%, 95%);
      width: 100vw;
      height: 100vh;
      display: flex;
      align-items: center;
      justify-content: center;
  }









  /* ..........main........... */

  .container {
      display: flex;
      flex-direction: row;
  }

  .luxury-card {
      border-radius: 0 10px 10px 0;
  }

  .sedans-card {
      border-radius: 10px 0px 0px 10px;

  }

  .sedans-card,
  .luxury-card,
  .suvs-card {
      display: flex;
      flex-direction: column;
      gap: 2rem;
      width: 17rem;
      height: auto;
      background-color: hsl(31, 77%, 52%);
      padding: 2.3rem;
      justify-content: center;
      color: hsl(0, 0%, 95%);
  }

  .sedans-para,
  .suvs-para,
  .luxury-para {
      line-height: 1.5rem;
      font-size: 0.8rem;
      color: hsla(0, 0%, 100%, 0.75);
      padding-bottom: 2rem;
  }

  .sedans-tittle,
  .suvs-tittle,
  .luxury-tittle {
      text-transform: uppercase;
      color: hsl(0, 0%, 95%);
      font-family: 'Big Shoulders Display', cursive;

  }

  .sedans-btn,
  .luxury-btn,
  .suvs-btn {
      padding: 14px 22px;
      font-size: 0.9rem;
      color: hsl(31, 77%, 52%);
      width: 8rem;
      border-radius: 50px;
      border: none;
      text-transform: capitalize;
      cursor: pointer;

  }

  .suvs-card {

      background-color: hsl(184, 100%, 22%);
  }

  .suvs-btn {
      color: hsl(184, 100%, 22%);
  }

  .luxury-card {
      background-color: hsl(179, 100%, 13%);
  }

  .luxury-btn {
      color: hsl(179, 100%, 13%);
  }


  /* ..........mobile response........... */

  

  @media only screen and (max-width: 600px) {


      .container {
          display: flex;
          flex-direction: column;
          height: 100vh;
          padding: 3rem 0;
      }

      .sedans-card,
      .luxury-card,
      .suvs-card {
          gap: 1.5rem;
          padding: 2rem; 
      }

      .luxury-card {
          border-radius: 0 0 10px 10px;
      }

      .sedans-card {
          border-radius: 10px 10px 0px 0px;

      }
  }


  
  @media only screen and (max-width: 768px) {


   
  .sedans-card,
  .luxury-card,
  .suvs-card {
      display: flex;
      flex-direction: column;
      gap: 1rem;
      width: 15rem;
      padding: 1.3rem;
      justify-content: center;
  }
   
}